<%= button_to "/auth/google_oauth2",
        method: :post,
        data: {
          turbo: "false"
        },
        class: "btn bg-accent flex gap-2 w-full text-base" do %>
        <p>Entrar com Google</p>
        <i class="fa-brands fa-google text-lg"></i>
      <% end %>