<% column.tasks.each do |task| %>
  <div id="delete_task_modal_<%= task.id %>" class="modal" data-controller="task-actions">
    <div class="modal-box">
      <h3 class="font-bold text-lg">Confirmar exclusão</h3>
      <p class="py-4">
        Tem certeza que deseja excluir a tarefa "<%= task.title %>"?
      </p>
      <div class="modal-action">
        <button type="button"
                class="btn btn-ghost"
                data-action="click->task-actions#closeModal"
                data-task-id="<%= task.id %>">
          Cancelar
        </button>
        <%= button_to [task.column, task],
              method: :delete,
              class: "btn btn-error" do %>
          Excluir
        <% end %>
      </div>
    </div>
  </div>
<% end %>