<%= turbo_stream.update "task_modal_container" do %>
  <dialog
    id="task_modal_<%= @task.id %>"
    class="modal modal-open"
    data-controller="modal"
    data-action="turbo:submit-end->modal#afterSubmit"
  >
    <div class="modal-box modal-box w-11/12 max-w-5xl">
      <h3 class="font-bold text-lg">Editar tarefa</h3>
      <div id="edit_task_errors"></div>
      <%= render 'tasks/form', column: @column, task: @task %>
    </div>
  </dialog>
<% end %>