<%= turbo_stream.update "label_selector_#{params[:task_id]}" do %>
  <div class="bg-base-200 p-3 rounded-md" data-controller="task-labels">
    
    <div data-task-labels-target="availableLabelsList">
      <h5 class="font-semibold mb-2">Etiquetas disponíveis</h5>

      <div class="max-h-40 overflow-y-auto mb-3"
          id="available_labels_<%= @task.id %>">
        <%= render partial: "labels/available_labels",
                  locals: { board: @board, task: @task } %>
      </div>

      <div class="pt-2">
        <button type="button" 
                class="btn btn-accent btn-sm text-sm flex items-center gap-1"
                data-action="click->task-labels#showNewLabelForm"
                data-task-labels-target="createButton">
          <i class="fa-solid fa-plus"></i>
          <span>Criar nova etiqueta</span>
        </button>
      </div>
    </div>

<div class="hidden" data-task-labels-target="newLabelForm">
  <h5 class="font-semibold mb-2">Nova etiqueta</h5>
  
  <form id="new_label_form" class="new_label">
    <input type="hidden" name="task_id" value="<%= @task.id %>">
    <div class="form-control mb-2">
      <input type="text" name="label[title]" class="input input-sm input-bordered w-full" placeholder="Nome da etiqueta">
    </div>

    <div class="form-control mb-2">
      <label class="label">Cor</label>
      <div class="flex flex-wrap gap-2">
          <label class="cursor-pointer">
            <input type="radio" name="label[color]" value="primary" class="hidden">
            <span class="badge rounded-full w-6 h-6 badge-primary p-2 badge-color-selector"></span>
          </label>
          <label class="cursor-pointer">
            <input type="radio" name="label[color]" value="secondary" class="hidden">
            <span class="badge rounded-full w-6 h-6 badge-secondary p-2 badge-color-selector"></span>
          </label>
          <label class="cursor-pointer">
            <input type="radio" name="label[color]" value="success" class="hidden">
            <span class="badge rounded-full w-6 h-6 badge-success p-2 badge-color-selector"></span>
          </label>
          <label class="cursor-pointer">
            <input type="radio" name="label[color]" value="warning" class="hidden">
            <span class="badge rounded-full w-6 h-6 badge-warning p-2 badge-color-selector"></span>
          </label>
          <label class="cursor-pointer">
            <input type="radio" name="label[color]" value="error" class="hidden">
            <span class="badge rounded-full w-6 h-6 badge-error p-2 badge-color-selector"></span>
          </label>
          <label class="cursor-pointer">
            <input type="radio" name="label[color]" value="neutral" class="hidden">
            <span class="badge rounded-full w-6 h-6 badge-neutral p-2 badge-color-selector"></span>
          </label>
      </div>
    </div>

    <div class="flex justify-between">
      <button type="button"
              class="btn btn-sm btn-ghost"
              data-action="click->task-labels#cancelNewLabelForm">
        Cancelar
      </button>

      <button type="button" 
              class="btn btn-sm btn-primary"
              data-action="click->task-labels#createLabel">
        Criar
      </button>
    </div>
  </form>
</div>

  </div>
<% end %>
