<div class="bg-base-100 p-5 rounded-lg shadow-sm flex items-center">
  <div class="flex flex-col">
    <div class="flex gap-2 items-end justify-center">
      <p class="text-7xl font-semibold p-0 m-0">
        <%= daily_streak.total_streak %>
      </p>
      <i class="text-5xl fa-solid fa-fire mb-1 text-accent"></i>
    </div>

    <p class="font-semibold text-center text-lg">dias consecutivos</p>
  </div>
</div>
