<div class="p-4 rounded-md bg-base-300 shadow-sm transition hover:cursor-pointer border border-base-200 hover:shadow-md hover:border-base-300">
  <div>
    <p class="font-semibold text-lg">Nome da tarefa</p>
    <p class="text-xs mt-1">vencimento (se houver)</p>
    <ul class="flex gap-1 mt-3">
      <li class="bg-neutral rounded-sm p-1 text-xs text-neutral-content">
        labels
      </li>
      <li class="bg-neutral rounded-sm p-1 text-xs text-neutral-content">
        labels
      </li>
      <li class="bg-neutral rounded-sm p-1 text-xs text-neutral-content">
        labels
      </li>
    </ul>
  </div>
</div>