<turbo-frame id="board-columns-frame">
  <div id="board-columns" data-controller="horizontal-scroll sortable"
       data-sortable-group-value="columns"
       data-sortable-reorder-url-value="<%= reorder_board_columns_path(board) %>"
       class="flex gap-4 overflow-x-auto pb-4 w-full" style="scrollbar-width: thin;">
    <%= render partial: 'columns/column', collection: @columns %>
  </div>
</turbo-frame>
