<label for="new-board-modal"
       class="card h-48 py-6 bg-base-100 shadow-sm transition hover:cursor-pointer hover:shadow-md flex items-center justify-center">
  <i class="fa-solid fa-plus text-2xl"></i>
</label>